*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-font-color:#353535;
    --font-color:#6a7282;
}
@font-face {
    font-family: 'LibertinusSerifDisplay';
    src: url('../fonts/LibertinusSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'LibertinusSerifDisplay', sans-serif;
    
}
.container-83{
    width: 83%;
    margin: 0 auto;
}

/* navbar section  */
.img_nav{
    width: 12%;
    margin: 0 7px;
}
.later{
    margin: 0 0 0 7px;
}













h1{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 600;
}
h1::after{
    content: "";
    display: inline-block;
    background-color: var(--main-font-color);
    width: 40px;
    height: 2px;
    margin-left:5px;
}
h1 span{
    color: var(--font-color);
    margin-right: 5px;
}
h2{
    font-size: 20px;
    margin-bottom: 35px;
}
.check1 h3{
    font-size: 18px;
}
.check1{
    border: .5px solid rgba(0, 0, 0, 0.444);
    padding: 7px 10px;
    margin-bottom: 15px;
}













/* strat LATEST COLLECTIONS section  */
.label_sec1 h2 span{
    color: var(--font-color);
    margin-right: 5px;
}
.label_sec1 h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label_sec1 h2::after{
    content: "";
    display: inline-block;
    background-color: var(--main-font-color);
    width: 50px;
    height: 2px;
    margin-left:5px;
}
.card_sec1 .imge{
    overflow: hidden;
}
.card_sec1 img{
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.card_sec1:hover img{
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}














/* footer part  */
.imge_footer img{
    width: 15%!important;
    margin-bottom: 12px;
}
.imge_footer p{
    max-width: 75%;
}
footer h3{
    font-size: 19px;
    font-weight: 600;
}
footer ul li{
    list-style: none;
}