*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-font-color:#353535;
    --font-color:#6a7282;
}
@font-face {
    font-family: 'LibertinusSerifDisplay';
    src: url('../fonts/LibertinusSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'LibertinusSerifDisplay', sans-serif;
    
}
.container-83{
    width: 83%;
    margin: 0 auto;
}
/* navbar section  */
.img_nav{
    width: 12%;
    margin: 0 7px;
}
.later{
    margin: 0 0 0 7px;
}










.sign_up h1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sign_up h1::after{
    content: "";
    display: inline-block;
    background-color: var(--main-font-color);
    width: 40px;
    height: 2px;
    margin-left:5px;
}
.sign_up_content input{
    display: block;
    width: 100%;
    margin: 15px 0px;
    height: 45px;
    padding: 2px 6px;
}
.sign_up_content button{
    background-color: black;
    color: white;
    border: none;
    padding: 7px 19px;
    margin: 15px 0;
}
.unique{
    margin-bottom: 0px!important ;
}
.under_input a{
    text-decoration: none;
    color: var(--main-font-color);
}
form input:focus{
    outline: none;
    border-color: inherit;
    box-shadow: none;
}
















/* footer part  */
.imge_footer img{
    width: 15%!important;
    margin-bottom: 12px;
}
.imge_footer p{
    max-width: 75%;
}
footer h3{
    font-size: 19px;
    font-weight: 600;
}
footer ul li{
    list-style: none;
}