*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-font-color:#353535;
    --font-color:#6a7282;
}
@font-face {
    font-family: 'LibertinusSerifDisplay';
    src: url('../fonts/LibertinusSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'LibertinusSerifDisplay', sans-serif;
    
}
.container-83{
    width: 83%;
    margin: 0 auto;
}

/* navbar section  */
.img_nav{
    width: 12%;
    margin: 0 7px;
}
.later{
    margin: 0 0 0 7px;
}

/* start header section panner  */
.header{
    border: 1px solid black;
    
}
.content_panner h3{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.content_panner h3::before{
    content: "";
    display: inline-block;
    background-color: var(--main-font-color);
    width: 50px;
    height: 2px;
    margin-right:5px;
}
.content_panner h1{
    font-size: 60px;
    font-weight: 700;
    color: black;

}
.content_panner h2{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.content_panner h2::after{
    content: "";
    display: inline-block;
    background-color: var(--main-font-color);
    width: 40px;
    height: 2px;
    margin-left:5px;
}
.content_panner{

}
@media screen and (max-width:500px){
    .content_panner h1{
        font-size: 40px;
        font-weight: 700;
    }
}

/* strat LATEST COLLECTIONS section  */
.label_sec1 h2 span{
    color: var(--font-color);
    margin-right: 5px;
}
.label_sec1 h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label_sec1 h2::after{
    content: "";
    display: inline-block;
    background-color: var(--main-font-color);
    width: 50px;
    height: 2px;
    margin-left:5px;
}
.card_sec1 .imge{
    overflow: hidden;
}
.card_sec1 img{
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.card_sec1:hover img{
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

/* start of section logos  */
.content_sec3 h4{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
.content_sec3 img{
    margin-bottom: 12px;
    width: 20%;
}
@media screen and (max-width:750px){
    .flex_logo{
        display: block!important;
    }
}


/* start conect me section  */
form input:focus{
    outline: none;
    border-color: inherit;
    box-shadow: none;
}
form input{
    width: 40%;
    height: 45px;
    border: 1px solid black;
    padding: 2px 10px;
}
form button{
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 5px 20px;
}

/* footer part  */
.imge_footer img{
    width: 15%!important;
    margin-bottom: 12px;
}
.imge_footer p{
    max-width: 75%;
}
footer h3{
    font-size: 19px;
    font-weight: 600;
}
footer ul li{
    list-style: none;
}