*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-font-color:#353535;
    --font-color:#6a7282;
}
@font-face {
    font-family: 'LibertinusSerifDisplay';
    src: url('../fonts/LibertinusSerifDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'LibertinusSerifDisplay', sans-serif;
    
}
.container-83{
    width: 83%;
    margin: 0 auto;
}

/* navbar section  */
.img_nav{
    width: 12%;
    margin: 0 7px;
}
.later{
    margin: 0 0 0 7px;
}



/* main content section  */
.main_content h1{
    font-size: 25px;
}
.star img{
    width: 10px;
}

.small_card {
    font-size: larger;
    border: 1px solid black;
    padding: 5px 18px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
input[type="radio"]:checked + .small_card {
    border: 1.5px solid orangered;
    background-color: #fff5f0;
    font-weight: bold;
}

.main_content button{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 9px 0px;
}
.main_content p{
    padding: 0px;
    margin: 0px;
}
.line{
    background-color: black;
    width: 100%;
    height: 1.5px;
    margin: 40px 0px;
}
@media screen and (max-width:770px) {
    .small_img img{
        height: 50px;
        width: 50px!important;
    }
}

/* tabel section opinion  */
.bold{
    font-weight: bolder;
    border: 1px solid black;
    padding: 10px;
}
.light{
    border: 1px solid black;
    padding: 10px;
}
.table_content{
    border: 1px solid black;
    padding: 35px;
}
.table_content p{
    padding: 0%;
    margin: 0%;
}



/* strat LATEST COLLECTIONS section  */
.label_sec1 h2 span{
    color: var(--font-color);
    margin-right: 5px;
}
.label_sec1 h2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label_sec1 h2::after{
    content: "";
    display: inline-block;
    background-color: var(--main-font-color);
    width: 50px;
    height: 2px;
    margin-left:5px;
}
.card_sec1 .imge{
    overflow: hidden;
}
.card_sec1 img{
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.card_sec1:hover img{
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}




















/* footer part  */
.imge_footer img{
    width: 15%!important;
    margin-bottom: 12px;
}
.imge_footer p{
    max-width: 75%;
}
footer h3{
    font-size: 19px;
    font-weight: 600;
}
footer ul li{
    list-style: none;
}